.divBody {
  background: #c7b198;  
  min-height: 85vh;
  padding: 1rem;
}

.home-card {
  background: #e7eaf6;
  border-radius: 2rem;
  box-shadow: 5px 10px 10px 5px #005792;
  width: 85%;
  margin: 0 auto;
}

.table-styles {
  background: #e7eaf6;
  border: 1px solid #005792;
  width: 80%;
  margin: 0 auto;
}

thead {
  background: #005792;
  color: #ffffff;
}

footer {
  padding: 2.4rem 2rem;
  background-color: #005792;
  color: #ffffff;
  height: 10vh;
}


.social {
  color: #ffffff;
  padding: 0.7rem;
  margin: 0.7rem;
  border-radius: 0.3rem;
  transition: all 0.3s ease-in-out;
}

.twitter {
  background-color: #1DA1F2;
  
}

.instagram {
  background-color: #C13584;
}


.github {
  background-color: #333333;
}
  
.fab {
  font-size: 1.2rem;
}

/* FORMULARIO */
.form-search {
  background: #e7eaf6;
  border-radius: 2rem;
  box-shadow: 5px 10px 10px 5px #005792;
  padding: 2rem;
  width: 70%;
  margin: 0 auto;
}
.btn-buscar {
  background: #005792;
  border: 1px solid #005792;
  border-radius: 2rem;
  color: #ffffff;
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
}

.btn-buscar:hover {
  background: #ffffff;
  color: #005792;
}

.btn-agregar {
  background: #ffa952;
  border: 1px solid #ffa952;
  border-radius: 2rem;
  color: #ffffff;
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
}

.btn-agregar:hover {
  background: #ffffff;
  color: #ffa952;
  border: 1px solid #ffa952;
}

label {
  font-size: 1rem;
  font-weight: 700;

}

.form-registro {
  background: #e7eaf6;
  border-radius: 2rem;
  box-shadow: 5px 10px 10px 5px #005792;
  padding: 2rem;
  width: 70%;
  margin: 0 auto;
}

.btn-save {
  background: #005792;
  border: 1px solid #005792;
  border-radius: 2rem;
  color: #ffffff;
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
}

.btn-save:hover {
  background: #ffffff;
  color: #005792;
}

.btn-cancel {
  background: #dc2f2f;
  border: 1px solid #dc2f2f;
  border-radius: 2rem;
  color: #ffffff;
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
}

.btn-cancel:hover {
  background: #ffffff;
  color: #dc2f2f;
  border: 1px solid #dc2f2f;
}

.botones-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem;
}